@using Chinook3.Models
@model IEnumerable<Album>
@{
    ViewData["Title"] = "Home Page";
}


<table class="table">
    <tr>
        <th>Album Id</th>
        <th>Album Name</th>
        <th>Artist Id</th>
    </tr>
    
    @foreach (var album in Model)
    {
        <tr>
            <td>@album.AlbumId</td>
            <td>@album.Title</td>
            <td>@album.ArtistId</td>
        </tr>
    }
</table>
